@use '../settings/colors' as colors;

footer {

  width: 100%;
  height: 2em;
  line-height: 2em;
  color: colors.$white;
  text-align: center;
  background-color: colors.$blue-grey-700;

  p {
    font-size: 1em;
    margin: 0;
  }

}
